.topDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  border-left: none;
  border-color: grey;
  cursor: pointer;
}

.topDiv input{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
  border-right: none;
  border-color: grey;
}

.codeBody{
  min-width: 50%;
  max-width: 80%;
  border-color: grey;
  border: solid;
  margin-top: 10px;
  padding: 1%;
  border-radius: 5px;
  background-color: white;

}

body{
  background-color: pink;
}

.codeBtn {
  background-color: lightskyblue;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.dividerDiv{
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.Score{
  background: paleturquoise;
  font-style: italic;
  font-weight: bold;
  text-align: right;
}